@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(4, 4, 4);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 0%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  cursor: pointer;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Floating Nav */
.floating-nav {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  padding: 10px 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  align-items: center;
  border-radius: 30px;
  transition: all 0.4s ease;
  width: 50%;
  height: 60px;
  position: fixed;
}

.floating-nav-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}

/* Custom button */

.custom-button {
  background-color: #94a3b81a;
  box-shadow: inset 0 1px 0 0 #ffffff0d;
  opacity: 0.8;
}

.custom-button:hover {
  opacity: 1;
  transition: 0.2s ease;
}
